<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azul Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="notification-banner" class="notification-banner">
        Welcome to Azul! Click on tiles to begin.
    </div>
    <div class="container">
<!--        <div id="first-player-marker-player" class="first-player-marker">F</div>-->
        <div id="player0-section" class="player-section">
            <!-- Player 1's pattern lines, wall, and floor line will go here -->
            <div id="player0:pattern-lines-section" class="pattern-lines">
                <!-- Dynamically generated pattern lines will go here -->
            </div>
            <div id="player0:floor-line-section" class="floor-line">
                <!-- Dynamically generated floor line will go here -->
            </div>
            <div id="player0:wall-section" class="wall">
                <!-- Dynamically generated wall will go here -->
            </div>

        </div>
        <div id="factories-section" class="board-section">
            <!-- Factories will go here -->
        </div>
        <div id="player1-section" class="player-section">
            <!-- Player 2's pattern lines, wall, and floor line will go here -->
            <div id="player1:pattern-lines-section" class="pattern-lines">
            <!-- Dynamically generated pattern lines will go here -->
            </div>
            <div id="player1:floor-line-section" class="floor-line">

                <!-- Dynamically generated floor line will go here -->
            </div>

            <div id="player1:wall-section" class="wall">
                <!-- Dynamically generated wall will go here -->
            </div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
